body {
  margin: 0;
  padding: 20px;
  color: purple;
}
.sbsc {
  color: purple;
  margin-bottom: 5px;
}
.h3 {
  color: red;
}
.email,
.password,
.number,
.submit {
  margin: 5px;
}
::placeholder {
  color: pink;
}
input#email {
  margin-left: 23px;
  padding: 5px;
  width: 70%;
}
input#pass {
  padding: 5px;
  width: 70%;
}
input#number {
  margin-left: 9px;
  padding: 5px;
  width: 70%;
}
.submit {
  margin-left: 80px;
  padding: 7px;
  width: 20%;
  border: none;
  background-color: royalblue;
  color: white;
  cursor: pointer;
  border-radius: 20px;
}
@media screen and (min-width: 768px) {
  .about-parent-container {
    display: flex;
    justify-content: right;
    border: 2px solid black;
  }
  .about-container.side-by-side-item {
    position: absolute;
    justify-content: space-evenly;
    align-items: center;
    padding: auto;
    border: 2px solid black;
  }
  .side-by-side-item {
    width: 50%;
  }
  .circle-container {
    width: 50%;
    height: 150px;
    border: 2px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .small {
    border-radius: 50%;
    border: 3px;
    height: 40px;
    width: 40px;
    position: absolute;
    background-color: red;
  }
  .medium {
    border-radius: 50%;
    border: 3px;
    height: 80px;
    width: 80px;
    position: absolute;
    background-color: white;
    text-align: center;
  }
  .large {
    border-radius: 50%;
    border: 3px;
    height: 120px;
    width: 120px;
    position: absolute;
    background-color: red;
    text-align: center;
  }
}
